<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
            name="PostsDb"
            providerName="System.Data.SqlClient"
            connectionString="Server=.;Database=PostsDatabase;Trusted_Connection=true;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>