@model _02.InformationApp.Models.Post
<li>
    <article>
        <header>
            <h3>@Model.Title</h3>
        </header>
        <section>
            <p>
                @Model.Content
            </p>
        </section>
    </article>
</li>