USE [master]
GO
/****** Object:  Database [performance]    Script Date: 7/19/2013 11:40:25 ******/
CREATE DATABASE [performance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'performance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\performance.mdf' , SIZE = 37888KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'performance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\performance_log.ldf' , SIZE = 69760KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [performance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [performance]
GO
/****** Object:  FullTextCatalog [logFullTextCatalog]    Script Date: 7/19/2013 11:40:25 ******/
CREATE FULLTEXT CATALOG [logFullTextCatalog]WITH ACCENT_SENSITIVITY = ON

GO
/****** Object:  Table [dbo].[log]    Script Date: 7/19/2013 11:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[id] [int] NOT NULL,
	[date] [date] NULL,
	[text] [text] NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logFullTextIndex]    Script Date: 7/19/2013 11:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logFullTextIndex](
	[id] [int] NOT NULL,
	[date] [date] NULL,
	[text] [varchar](50) NULL,
	[textIndex] [varchar](max) NULL,
 CONSTRAINT [PK_logFullTextIndex] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logWithoutIndex]    Script Date: 7/19/2013 11:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logWithoutIndex](
	[date] [date] NULL,
	[text] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_log]    Script Date: 7/19/2013 11:40:25 ******/
CREATE NONCLUSTERED INDEX [IX_log] ON [dbo].[log]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_Messages_MsgText]    Script Date: 7/19/2013 11:40:25 ******/
CREATE NONCLUSTERED INDEX [IDX_Messages_MsgText] ON [dbo].[logFullTextIndex]
(
	[text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
