ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	border: 3px solid gray;
}
			
li {
	border: 1px solid gray;
	padding: 10px 10px;
	overflow: hidden;
}

label {
	font-weight: bold;
	margin-right: 20px;
	margin-top: 6px;
	float: left;
}

input[type='submit'] {
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid #999;
	clear: both;
}

input[type='submit']:hover {
	background-color: #ddd;
}

input {
	display: inline-block;
	padding: 5px;
	float: right;
}